input {
    width: 45px;
    height: 45px;
    font-size: 30px;
    text-align: center;
}

.btnRed {
    height: 60px;
    font-size: 35px;
    background-color: red;
    margin-top: 10px;
}

.btnGreen {
    height: 60px;
    font-size: 35px;
    background-color: green;
    margin-top: 10px;
}